*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #e0e2e2;
    color: #2C3E50;
}

h1,h2,h3,h4,h5{
    font-family: "Playfair Display", serif;
    font-weight: 700;
}

h3{
    margin-top: 5px;
    margin-bottom: 5px;
}

button{
    padding: 5px;
    cursor: pointer;
}

input[type="radio"]{
    margin-top: 5px;
    margin-bottom: 5px;
    accent-color: #2C3E50;
}

header{
    text-align: center;
    align-content: center;
    justify-content: center;
    min-height: 100px;
    width: 100%;
    background-color: #2C3E50;
    color: #FFFFFF;
    font-size: 25px;
    padding: 30px;
}

.leftMargin{
    margin-left: 20px;
}

.cross{
    width: 20px;
    height: auto;
}

.book{
    background-color: #FFFFFF;
    padding: 5px;
    margin-bottom: 10px;
    width: fit-content;
    border: 2px solid #2C3E50;
}

.bookText{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.delete{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    cursor: pointer;
}

#popup{
    position: absolute;
    display: none;
    left: 50%;
    top: 50%;
    padding: 20px;
    transform: translate(-50%,-50%);
    width: 300px;
    height: 200px;
    background-color: #FFFFFF;
    border: 2px solid #f82828;

    font-size: 25px;
    text-align: center;
}

input[type="radio"]#deleteNo{
    margin-left: 60px;
}

#finalButton{
    margin-top: 40px;
    border: 1px solid #e0e2e2;
    background-color: #2C3E50;
    color: #FFFFFF;
}

#starStuff{
    display: none;
    justify-content: center;
}

.stars{
    color: #FFD700;
    background-color: #2C3E50;
    width: 121px;
    padding: 5px;
    border-radius: 20px;
}

.stars input{
    display: none;
}

.stars label{
    padding: 3px;
    cursor: pointer;
}

.stars input:checked + label ~ label{
    color: #838383;
}

.stars div{
    padding: 4.6px;
    align-self: center;
}

.boxStars{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}