body{
    font-family: "DM Serif Text", serif;
}

a{
    text-decoration: none;
}



#sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 100vh;
    background-color: #40474D;
}

#dashboard{
    margin-top: 45px;
    text-align: center;
    font-size: 30px;
    color: #DBDBDB;
}

.links{
    list-style-type: none;
}

.link{
    padding: 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.link#seperation>a{
    text-decoration: none;
    color: #DBDBDB;
}

.link>a{
    text-decoration: none;
    color: #DBDBDB;
}

li{
    transition: opacity 0.2s ease;
}

ul:hover li{
    opacity: 0.4;
}

ul li:hover{
    opacity: 1;
}

.icon{
    width: 25px;
    height: auto;
    margin-right: 15px;
}

#seperation{
    margin-top: 50px;
}




#topbar{
    position: fixed;
    top: 0;
    left: 20%;
    width: 80%;
    min-height: 191px;
    height: 191px;
    background-color: #32373B;
    overflow: hidden;
}

.bigProfile{
    width: 50px;
    height: auto;
    margin-right: 20px;
    vertical-align: middle;
    border-radius: 30px;
    border: 2px solid #DBDBDB;
}

.subTitle{
    font-size: 30px;
    color: #DBDBDB;
    padding: 10px;
    padding-left: 4%;
}

#searchbar{
    width: 50%;
    padding: 9px;
    margin-top: 30px;
    margin-left: 3%;
    border: 2px solid #DBDBDB;
    border-radius: 50px;
    font-family: "DM Serif Text", serif;
}

.topRight{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 25px;
    right: 2.5%;
}

.notificationsIcon{
    width: 35px;
    height: auto;
    margin-right: 50px;
}

.smallProfile{
    width: 35px;
    height: auto;
    border-radius: 30px;
    border: 2px solid #DBDBDB;
    margin-left: 10px;
}

h3{
    color: #DBDBDB;
}

.bottomRight{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 100px;
    right: 2.5%;
    width: 25%;
    margin-right: 6%;
}

.ovelBox{
    text-align: center;
    color: #DBDBDB;
    padding: 10px;
    width: 70px;
    background-color: #40474D;
    border: 2px solid #DBDBDB;
    border-radius: 25px;
    display: table-cell;
    vertical-align: middle;
}

.ovelBox:hover{
    background-color: #555b61;
    transition: background-color 200ms linear;
}




#bigBox{
    position: fixed;
    top: 20%;
    left: 20%;
    width: 80%;
    height: 80%;
    background-color: #DBDBDB;
}

.bigBoxText{
    color: #32373B;
}

#projects{
    margin-left: 4%;
    margin-top: 40px;
}